/*
Author: Logan Nguyen
Last Updated: December 2019
*/

/*--------------------------------------------------------------
Cool colors:
    "Purple" rgb(101, 54, 90) #65365A
    "Olive" rgb(90, 101, 54) #5a6536
    "Teal" rgb(54, 90, 101) #365A65
    "Burnt Red" rgb(101, 54, 67) #653643
    "Violet" rgb(58, 54, 101) #583665

Cool fonts: 
    Courier New
    Cookie
    Satisfy
    Leckerli One
    Pacifico
    Ma Shan Zheng
    Molle

/*--------------------------------------------------------------*/

/* to start off with no extra spaces, we can override this later */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 110%;
    line-height: 1.5em;
}

header {
    margin-top: 50px;
}

nav {
    margin: auto; /* centering */
    width: 450px; /* keep it the same, we have three 150px menu items */
}

/* title */
h1 {
    text-align: center;
    font-family: 'Cookie', cursive;
    color: black;
    padding: 10px 0px;
}

/* the menu itself*/
nav ul {
    display: table; /* keeps the menu as a new unit and therefore the nav size won't grow on hover */
    list-style: none; /* removes the bullet-point marks */
}

/* the menu items themselves*/
nav ul li {
    float: left; /* puts items side by side */
    background-color: black; /* the menu is black */
    text-align: center; /* center the text */
    list-style: none; /* removes the bullet-point marks */
    padding: 10px 0px 12px 0px; /* to make the box the correct size */
    font-size: 15px;
    width: 150px;
    height: 20px;
}

/* nav ul li ul li {
    margin-top: 10px;
} */

/* text in the link */
nav ul li a {
    text-decoration: none; /* gets rid of underline */
    color: white; /* makes sure the font is white */
    display: block; /* this way you can click on the block and it will activate the link too */
}

/* what to do when hovering over menu items */
nav ul li:hover {
    opacity: 80%;
}

/* to make sure the submenu is hidden until clicked */
nav ul li ul li {
    display: none;
}

/* to show the specific submenu when hovering over the menu item */
nav ul li:hover ul li {
    display: block;
}

section {
    margin: 10% auto; /* centers the screen and gives a small space between the menu bar at the text */
    width: 60%; /* keeps the content in the center of the screen */
    text-align: center; /* why not */
}

footer {    
    position: absolute; /* make sure it is in a certain spot on the page */
    bottom: 0; /* keep it at the bottom of the page */
    padding-top: 20px; /* we need a bit of space between the page text and the circles */
    width: 100%; /* not really needed but it is good to have*/
    text-align: center; /* keep the content in the center! */
    font-size: 70%;
}

/* social media circles */
footer div {
    display: inline-block; /* makes the items side by side */
}

/* the image itself */
footer div img {
    height: 50px;
    width: 50px;
}