---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="logan nguyen">
	<main>	
		<h1>My Future Blog</h1>
        <p>Under construction at the moment!</p>
    </main>
</Layout>

<style>
</style>
