---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="logan nguyen">
	<main>
        <p class="text-center mt-5">🚧 Under construction at the moment!</p>
    </main>
</Layout>

<style>
</style>
