---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="logan nguyen">
	<main>
		<header class="flex justify-between items-center">
			<!-- my name / logo -->
			<h1 class="text-gradient">logan nguyen</h1>

			<!-- links -->
			<div class="grid grid-cols-3 gap-2">
				<a href="https://github.com/loganynguyen" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-github"></i>github</a>
				<a href="https://www.youtube.com/channel/UC5y8kEE18eTSLvTg6ydqqWQ" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-youtube"></i>youtube</a>
				<a href="https://www.instagram.com/loganynguyen_/" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-instagram"></i>instagram</a>
				<a href="https://www.linkedin.com/in/loganynguyen" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-linkedin"></i>linkedin</a>
				<a href="https://twitter.com/loganynguyen" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-twitter"></i>twitter</a>
				<a href="#" target="_blank"><i class="fa-brands fa-goodreads" class="hover:bg-purple-400"></i>goodreads</a>
				<a href="https://soundcloud.com/logan-nguyen-114618892" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-soundcloud"></i>soundcloud</a>
				<a href="#" target="_blank" class="hover:bg-purple-400"><i class="fa-brands fa-spotify"></i>spotify</a>
				<!-- steam -->
				<!-- eurobricks -->
				<!-- quora or medium -->
			</div>
		</header>
		
		<!-- nav -->
		<nav class="bg-violet-400 max-w-6xl mx-auto">
			<div class="flex items-center space-x-5 text-white">
				<a href="#" class="">about</a>
				<a href="#" class="">CV</a>
				<a href="#" class="">contact</a>
				<a href="#" class="">projects</a>
				<a href="#" class="">research</a>
				<a href="#" class="">blog</a>
			</div>
		</nav>
		
		<!-- profile -->
		<div class="my-5">
			<p class="text-justify mt-5 mb-5">
				<strong>Hi there!</strong> Welcome to my little corner of the internet.<br><br>
				Since you're here, you must be a little bit interested as to who I am.
				Currently I'm a medical student at Wayne State University but previously I studied Biochemistry and Computer Science as an undergrad.
				In my spare time, I've been working on an open source electronic medical record called
				<a href="https://github.com/symotif/rchart" target="_blank" class="hover:bg-purple-400"><span class="text-gradient"><strong><u>rchart</u></strong></span></a>.
				Check it out! Any feedback is appreciated.
				Hmm... what else—I guess I can also say that I like long walks on the beach?
				That's enough for now :D
			</p>
			<p>
				For those interested in viewing my CV, you can find it
				<a href="../public/lyn-cv-2022MMDD.pdf" target="_blank" class="hover:bg-purple-400"><span class="text-gradient"><strong><u>here</u></strong></span></a>.
				Please feel free to reach out to me through email at
				<a href="mailto: logan@logannguyen.com" class="hover:bg-purple-400"><span class="text-gradient"><strong><u>logan@logannguyen.com</u></strong></span></a>!
			</p>
		</div>

		<!-- large flexbox -->
		<div class="grid grid-cols-2 gap-5 mt-10">

			<!-- projects -->
			<div>
				<h2><span class="text-gradient">projects</span></h2>
				<p class="my-5">Below are a few coding projects that I have worked on in the past. More to be added soon :)</p>
				<ul role="list" class="link-card-grid mb-10">
					<Card
						href="#"
						title="rchart"
						body="a modern, free, and extensible EHR for the world"
					/>
					<Card
						href="#"
						title="X"
						body="xx"
					/>
					<Card
						href="#"
						title="X"
						body="xx"
					/>
					<Card
						href="#"
						title="X"
						body="xx"
					/>
				</ul>
			</div>

			<!-- research -->
			<div>
				<h2><span class="text-gradient">research</span></h2>
				<p class="my-5">In the past I have been involved in a few research projects. Here are a few of my publications.</p>
				<ul role="list" class="link-card-grid mb-10">
					<Card
						href="#"
						title="1"
						body="description"
					/>
					<Card
						href="#"
						title="2"
						body="xx"
					/>
					<Card
						href="#"
						title="3"
						body="xx"
					/>
					<Card
						href="#"
						title="4"
						body="xx"
					/>
				</ul>
			</div>

		</div>
	</main>

	<footer class="text-center text-xs py-5">
		<p>Copyright &copy; 2022 Logan Nguyen</p>
	</footer>

</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 0.5rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 85ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 3s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #a99efd;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
