---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="logan nguyen">
	<main>
		<header class="flex justify-between items-center">
			<!-- my name / logo -->
			<h1 class="text-gradient">logan nguyen</h1>

			<!-- links -->
			<div class="grid grid-cols-4 gap-2">
				<a href="https://github.com/loganynguyen" target="_blank" class="hover:bg-purple-400"><img src="/public/github.svg" alt="github"></a>
				<a href="https://www.linkedin.com/in/loganynguyen" target="_blank" class="hover:bg-purple-400"><img src="/public/linkedin.svg" alt="linkedin"></a>
				<!-- <a href="https://www.youtube.com/channel/UC5y8kEE18eTSLvTg6ydqqWQ" target="_blank" class="hover:bg-purple-400"><img src="/public/youtube.svg" alt="youtube"></a> -->
				<a href="#" target="_blank" class="group relative duration-300 hover:bg-purple-400"><img src="/public/spotify.svg" alt="spotify">
					<span class="absolute hidden group-hover:flex -bottom-2 -right-3 translate-y-full w-48 px-2 py-1 bg-gray-700 rounded-lg text-center text-white text-sm before:content-[''] before:absolute before:top-1/2  before:right-[100%] before:-translate-y-1/2 before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-gray-700">
					Show me some of your favorite playlists</span>
				</a>
				<a href="https://twitter.com/loganynguyen" target="_blank" class="group relative duration-300 hover:bg-purple-400"><img src="/public/twitter.svg" alt="twitter">
					<span class="absolute hidden group-hover:flex -bottom-2 -right-3 translate-y-full w-48 px-2 py-1 bg-gray-700 rounded-lg text-center text-white text-sm before:content-[''] before:absolute before:top-1/2  before:right-[100%] before:-translate-y-1/2 before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-gray-700">
					I don't really tweet often</span>
				</a>
				<!-- <a href="https://www.instagram.com/loganynguyen_/" target="_blank" class="hover:bg-purple-400"><img src="/public/instagram.svg" alt="instagram"></a> -->
				<!-- <a href="#" target="_blank"><img src="/public/goodreads.svg" alt="goodreads"></a> -->
				<!-- <a href="https://soundcloud.com/logan-nguyen-114618892" target="_blank" class="hover:bg-purple-400"><img src="/public/soundcloud.svg" alt="soundcloud"></a> -->
				<!-- steam -->
				<!-- eurobricks -->
				<!-- quora or medium -->
			</div>
		</header>
		
		<!-- nav -->
		<nav class="bg-violet-400 max-w-6xl mx-auto">
			<div class="flex items-center space-x-5 text-white">
				<a href="#" class="">about me</a>
				<!-- <a href="#" class="">autobiographical archive</a> -->
				<!-- <a href="#" class="">eclectic musings</a> -->
				<!-- <a href="#" class="">published works</a> -->
			</div>
		</nav>
		
		<!-- profile -->
		<div class="my-5">
			<p class="text-justify mt-5 mb-5">
				<strong>Hi there!</strong> Welcome to my little corner of the internet.<br><br>
				Since you're here, it's possible that you might be a <i>slightly</i> interested as to who I am.
				Yes, my name is in fact Logan Nguyen. I live in the United States and I am currently a medical student at Wayne State University School of Medicine.
				Previously I studied both Biochemistry and Computer Science as an undergradate (also at WSU).
				In my spare time, I've been working on an open source electronic medical record called
				<a href="https://github.com/symotif/rchart" target="_blank" class="hover:bg-purple-400"><span class="text-gradient"><strong><u>rchart</u></strong></span></a>.
				It's currently quite solidly in its early stages of development, but please feel free to check it out and considering contributing!
				I really do appreciate any help and/or feedback.
				Besides medicine and coding, I honestly feel like I have too many interests, yet throughout the years I have always enjoyed music, nature, making things, and stories of all kinds.
				I'll try to share some of my thoughts and experiences on those topics here on my website when I have the time.
			</p>
			<p>
				If for some reason you are interested in viewing my CV, you can find it
				<a href="../public/lyn-cv-2022MMDD.pdf" target="_blank" class="hover:bg-purple-400"><span class="text-gradient"><strong><u>here</u></strong></span></a>.
				Please feel free to reach out to me if you want to get in touch! My email is
				<a href="mailto: logan@logannguyen.com" class="hover:bg-purple-400"><span class="text-gradient"><strong><u>logan@logannguyen.com</u></strong></span></a>
			</p>
		</div>

		<!-- large flexbox -->
		<div class="grid grid-cols-2 gap-5 mt-10">

			<!-- projects -->
			<div>
				<h2><span class="text-gradient">Projects</span></h2>
				<p class="my-5">Below are a few coding projects that I have worked on in the past. More to be added soon I hope :)</p>
				<ul role="list" class="link-card-grid mb-10">
					<Card
						href="#"
						title="rchart"
						body="a modern, free, and extensible EHR for the world"
					/>
					<Card
						href="https://github.com/loganynguyen/LANParty"
						title="LAN Party"
						body="A web app for gamers to meet up for in person parties. Created for my software engineering class project."
					/>
					<Card
						href="https://play.google.com/store/apps/details?id=www.acuitii.life&hl=en_US&gl=US"
						title="Acuitii"
						body="An app to gamify studying. Among other things, I worked on the flashcard review portion of the application for my senior project."
					/>
				</ul>
			</div>

			<!-- research -->
			<div>
				<h2><span class="text-gradient">Research</span></h2>
				<p class="my-5">In the past I have been involved with a few research projects. Here are a few of my publications.</p>
				<ul role="list" class="link-card-grid mb-10">
					<Card
						href="https://www.mdpi.com/2079-6382/10/7/880"
						title=" In Vitro Synergy of Colistin in Combination with Meropenem or Tigecycline against Carbapenem-Resistant Acinetobacter baumannii "
						body="Jacinda C Abdul-Mutakabbir, Juwon Yim, Logan Nguyen, Philip T Maassen, Kyle Stamper, Zain Shiekh, Razieh Kebriaei, Ryan K Shields, Mariana Castanheira, Keith S Kaye, Michael J Rybak. Antibiotics, July 2021."
					/>
					<Card
						href="https://journals.asm.org/doi/10.1128/AAC.02646-20"
						title=" In Vitro Antibacterial Activity of Cefiderocol against Multidrug-Resistant Acinetobacter baumannii"
						body="Jacinda C Abdul-Mutakabbir, Logan Nguyen, Philip T Maassen, Kyle C Stamper, Razieh Kebriaei, Keith S Kaye, Mariana Castanheira, Michael J Rybak. Antimicrobial Agents and Chemotherapy, August 2021."
					/>
					<Card
						href="https://academic.oup.com/jac/article/75/10/2894/5863533?login=false"
						title="Combinations of (lipo)glycopeptides with β-lactams against MRSA: susceptibility insights"
						body="Razieh Kebriaei, Seth A Rice, Nivedita B Singh, Kyle C Stamper, Logan Nguyen, Zain Sheikh, Michael J Rybak. Journal of Antimicrobial Chemotherapy, June 2020."
					/>
				</ul>
			</div>

		</div>
	</main>

	<footer class="text-center text-xs py-5">
		<p>Copyright &copy; 2022 Logan Nguyen</p>
	</footer>

</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 0.5rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 85ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 3s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #a99efd;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
